<!DOCTYPE html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <header>
                <%- include('partials/header')%>
        </header>



        <%- include('partials/footer')%>
        <script type="module" src='/js/app.js'></script>
    </body>

</html>